<span class="pull-left">还有<span class="uncomplete_count">{{unComplete}}</span>个待办项未完成</span>
            <a class="pull-right btn btn-default btn-clear-all" href="javascript:;">清除已经完成的<span
                    class="complete_count">{{complete}}</span>项</a>