<div id="content"><h1>Todos</h1>
        <hr>
        <div class="pl20 pr20">
            <header id="header">
               
            </header>
            <section id="main"></section>
        </div>
        <footer id="footer">
        </footer>
        <!-- <script id="todo_view_tpl" type="text/html">
            <label>
            <input type="checkbox" class="chk_complete" {{#complete}}checked="checked" {{/complete}}>
        </label>
            <span class="todo_text">{{text}}</span>
            <a href="javascript:;" class="remove pull-right"><span class="">X</span></a>
            <input class="form-control edit_input" type="text" value="{{text}}">
        </script> -->
        <!-- <script id="footer_tpl" type="text/html">
            <span class="pull-left">还有<span class="uncomplete_count">{{unComplete}}</span>个待办项未完成</span>
            <a class="pull-right btn btn-default btn-clear-all {{^complete}}hidden{{/complete}}" href="javascript:;">清除已经完成的<span
                    class="complete_count">{{complete}}</span>项</a>
        </script> -->
        </div>