
<div class="checkbox hidden" id="complete_all">
                <label>
                <input type="checkbox"> 全部标记为已完成
            </label>
            </div>
            <div id="main_content"></div>